<template>
  <section class="content">
    <VaDialogService :dialog="dataDialog" />
    <div class="container">
        <v-simple-table
          fixed-header
          height="600px"
          style="width: 100%"
          class="tableService"
          elevation="3"
        >
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-center" style="width: 20%">Tipe Mobil</th>
                <th class="text-center">No. Mesin</th>
                <th class="text-center">No. TNKB</th>
                <th class="text-center" style="width: 20%">Aksi</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="car in cars" :key="car.name">
                <td class="text-center">{{ car.carType }}</td>
                <td class="text-center">{{ car.carNoMesin }}</td>
                <td class="text-center">{{ car.carNoTNKB }}</td>
                <td class="text-center">
                  <v-btn
                    depressed
                    small
                    color="primary"
                    @click="clickDialog(car)"
                  >
                    approve
                  </v-btn>
                </td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
    </div>
  </section>
</template>

<script>
import axios from "axios";
import VaDialogService from "./components/VADialogService";

export default {
  components: {
    VaDialogService,
  },
  data() {
    return {
      cars: [],
      dataDialog: {
        show: false,
        cars: {
          carType: "",
          carNoMesin: "",
          carNoTNKB: ""
        },
      },
    };
  },
  methods: {
    clickDialog(car) {
      this.dataDialog.show = true;
      this.dataDialog.cars = car;
    },
    //* request list car and display them inside table
    getCars() {
      axios
        .post(
          `${process.env.API_URL}/api/car/info`,
          {},
          { headers: { Authorization: `Bearer ${this.token}` } }
        )
        .then((response) => {
          this.cars = response.data.data;
        })
        .catch((error) => {
          this.$store.dispatch("auth/checkTokenExpiration",error);
          console.log(error);
        });
    },
  },
  computed: {
    //* retrieve token from vuex
    token() {
      return this.$store.state.auth.token;
    },
  },
  mounted() {
    this.getCars();
  },
};
</script>

<style lang='css'>
.tableService {
  margin: auto;
}
</style>
