<template>
  <v-dialog v-model="dialog.show" width="600" persistent>
    <v-card>
      <v-card-title class="headline" fixed-header>
        <div class="float-left">Car {{ carsData.carType }}</div>
        <v-spacer></v-spacer>

        <v-btn @click="close()" x-small>
          <v-icon color="red">mdi-close</v-icon>
        </v-btn>
      </v-card-title>
      <v-divider></v-divider>

      <v-card-text class="mt-5">
        <v-row>
          <v-text-field
            label="Car Type"
            outlined
            disabled
            v-model="carsData.carType"
          ></v-text-field>
        </v-row>
        <v-row>
          <v-text-field
            label="Car No Mesin"
            outlined
            disabled
            v-model="carsData.carNoMesin"
          ></v-text-field>
        </v-row>
        <v-row>
          <v-text-field
            label="Car No TNKB"
            outlined
            disabled
            v-model="carsData.carNoTNKB"
            type="text"
          ></v-text-field>
        </v-row>
        <v-row>
          <v-text-field
            label="Service Odometer"
            outlined
            type="text"
            v-model="carsData.serviceOdometer"
          ></v-text-field>
        </v-row>
        <v-row>
          <v-text-field
            label="Service Hourmeter"
            outlined
            v-model="carsData.serviceHourmeter"
          ></v-text-field>
        </v-row>
        <v-row>
          <v-autocomplete
            :items="typeService"
            item-text="description"
            item-value="id"
            label="Service Type Cek"
            clearable
            outlined
            :value="carsData.serviceTypeCheck"
          ></v-autocomplete>
        </v-row>
        <v-row>
          <v-textarea
            label="Service Condition"
            outlined
            v-model="carsData.serviceCondition"
          ></v-textarea>
        </v-row>
        <v-row>
          <v-text-field
            label="Service Brand"
            outlined
            type="textarea"
            v-model="carsData.serviceBrand"
          ></v-text-field>
        </v-row>
        <v-row>
          <v-select
            :items="items"
            :value="carsData.isMaintenance"
            label="Is Maintenance"
            outlined
          >
          </v-select>
        </v-row>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-btn block elevation="2" color="success" @click="addServiceData()">
          <v-icon>mdi-content-save </v-icon>
          APPROVE
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Swal from "sweetalert2";
import axios from "axios";
export default {
  data: () => ({
    items: ["True", "False"],
    typeService: [],
    carsData: {
      carType: null,
      carNoMesin: null,
      carNoTNKB: null,
      serviceOdometer: null,
      serviceHourmeter: null,
      serviceTypeCheck: null,
      serviceCondition: null,
      serviceBrand: null,
      isMaintenance: null,
    },
  }),
  props: {
    dialog: {
      type: Object,
      default: {
        show: false,
        item: null,
        type: null,
      },
    },
  },
  computed: {
    //* retrieve token from vuex
    token() {
      return this.$store.state.auth.token;
    },
  },
  watch: {
    dialog: {
      deep: true,
      handler: function (val) {
        //* when dialog show up, then
        if (val.show) {
          this.carsData.carType = val.cars.carType;
          this.carsData.carNoMesin = val.cars.carNoMesin;
          this.carsData.carNoTNKB = val.cars.carNoTNKB;
          this.getServiceTypes();
          console.log("show", val);
          //* when dialog dissapear, then
        } else {
          this.close();
          console.log("hide");
        }
      },
    },
  },
  methods: {
    close() {
      this.dialog.show = false;
      this.carsData.carType = null;
      this.carsData.carNoMesin = null;
      this.carsData.carNoTNKB = null;
      this.carsData.serviceOdometer = null;
      this.carsData.serviceHourmeter = null;
      this.carsData.serviceTypeCheck = null;
      this.carsData.serviceCondition = null;
      this.carsData.serviceBrand = null;
      this.carsData.isMaintenance = null;
    },
    getServiceTypes() {
      axios
        .post(
          `${process.env.API_URL}/api/car/mtTypes`,
          {},
          { headers: { Authorization: `Bearer ${this.token}` } }
        )
        .then((response) => {
          this.typeService = response.data.data;
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },
    loadServiceData() {
      axios
        .get(
          `${process.env.API_URL}/api/car/service`,
          {},
          { headers: { Authorization: `Bearer ${this.token}` } }
        )
        .then((response) => {
          this.carsData = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    addServiceData() {
      axios
        .post(`${process.env.API_URL}/api/car/service`, this.carsData, {
          headers: { Authorization: `Bearer ${this.token}` },
        })
        .then((response) => {
          this.loadServiceData();
          this.carsData.carNoMesin = "";
          this.carsData.carNoTNKB = "";
          this.carsData.serviceOdometer = "";
          this.carsData.serviceHourmeter = "";
          this.carsData.serviceTypeCek = "";
          this.carsData.serviceCondition = "";
          this.carsData.isMaintenance = "";
          this.close();
          Swal.fire({
            position: "top-end",
            icon: "success",
            html: `<b>${response.data.data}</b>`,
            showConfirmButton: false,
            timer: 1500,
          });
        })
        .catch((error) => {
          let errorMessage = "";
          console.log(error.response);
          if (error.response) {
            // Request made and server responded
            errorMessage =
              error.response.data.error.message || error.response.data.error;
          } else if (error.request) {
            // The request was made but no response was received
            errorMessage = error.request;
          } else {
            // Something happened in setting up the request that triggered an Error
            errorMessage = "Error " + error.message;
          }
          Swal.fire({
            position: "top-end",
            icon: "error",
            html: `<b>${errorMessage}</b>`,
            showConfirmButton: false,
            timer: 1500,
          });
        });
    },
  },
};
</script>

<style>
</style>
