<template>
  <article>
    <v-tabs class="tabs">
      <v-tab
        v-for="(tab, index) in tabs"
        :key="index"
        :class="{ isActive: tab.isActive }"
      >
        {{ tab.name }}
      </v-tab>
    </v-tabs>
    <section class="tabs-deatils">
      <slot></slot>
    </section>
  </article>
</template>

<script>
export default {
  data: () => {
    return {
      tabs: [],
    };
  },
  created() {
    this.tabs = this.$children;
  },
};
</script>
