<template>
  <v-dialog v-model="dialog.show" width="800" scrollable>
    <v-card>
      <v-card-title class="headline">
        <div class="row">
          <span class="text-center">History of {{ dialog.car.carNoTNKB }}</span>
        </div>

        <v-spacer></v-spacer>

        <v-btn @click="dialog.show = false" x-small>
          <v-icon color="red">mdi-close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="mt-5">
        <v-row>
          <v-col>
            <v-text-field
              label="Date Start"
              outlined
              type="date"
            ></v-text-field>
          </v-col>
          <v-col>
            <v-text-field label="Date End" outlined type="date"></v-text-field>
          </v-col>
          <v-col>
            <v-btn color="secondary"> APPLY </v-btn>
          </v-col>
        </v-row>
        <v-tabs v-model="tab" centered>
          <v-tabs-slider></v-tabs-slider>

          <v-tab href="#odometer"> Odometer </v-tab>
          <v-tab href="#hourmeter"> Hourmeter </v-tab>
          <v-tab href="#speedavg"> Speed Average </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item :key="1" value="odometer">
            <line-chart
              :data="chartDataDay"
              xtitle="Day"
              ytitle="Range"
            ></line-chart>
          </v-tab-item>
          <v-tab-item :key="2" value="hourmeter">
            <line-chart
              :data="chartDataWeek"
              xtitle="Week"
              ytitle="Range"
            ></line-chart>
          </v-tab-item>
          <v-tab-item :key="3" value="speedavg">
            <line-chart
              :data="chartDataWeek"
              xtitle="Week"
              ytitle="Range"
            ></line-chart>
          </v-tab-item>
        </v-tabs-items>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn block elevation="2" @click="dialog.show = false"> CLOSE </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
// import axios from "axios";
import Tab from "./Tab";
import Tabs from "./Tabs";

export default {
  components: {
    Tab,
    Tabs,
  },
  data: () => ({
    tab: "odometer",
    chartDataDay: {
      Senin: 50,
      Selasa: 50,
      Rabu: 50,
      Kamis: 50,
      Jumat: 50,
      Sabtu: 50,
      Minggu: 50,
    },
    chartDataWeek: {
      Week1: 20,
      Week2: 30,
      Week3: 50,
      Week4: 0,
    },
  }),
  props: {
    dialog: {
      type: Object,
      default: {
        show: false,
        item: null,
      },
    },
  },
  watch: {
    dialog: {
      deep: true,
      handler: function (val) {
        if (val.show) {
          console.log("show");
        } else {
          console.log("hide");
        }
      },
    },
  },
};
</script>

<style>
.dialogTitle {
  background-color: rgba(0, 170, 0, 0.5) !important;
}
</style>
