<template>
  <div>
    <v-carousel :show-arrows="false" cycle>
      <v-carousel-item
        v-for="(item, i) in items"
        :key="i"
        :src="item.src"
      ></v-carousel-item>
    </v-carousel>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          src: "../../../static/amdespict/ambulancefeeder.PNG",
        },
        {
          src: "../../../static/amdespict/panenpisang.PNG",
        },
        {
          src: "../../../static/amdespict/pembangkitlistrik.PNG",
        },
        {
          src: "../../../static/amdespict/pembuates.PNG",
        },
        {
          src: "../../../static/amdespict/penjernihair.PNG",
        },
      ],
    };
  },
};
</script>

<style lang="css" scoped>
.modal-example .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}
.modal-example .modal {
  background: transparent !important;
}
</style>
