<template>
  <v-footer color="primary lighten-1" padless fixed>
    <v-row justify="center" no-gutters>
      <v-col class="footer py-4 text-center white--text" cols="12">
        {{ new Date().getFullYear() }} — <strong>AMMDES</strong>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  data: {},
};
</script>

<style lang="">
.footer {
  background-color: rgba(0, 26, 51, 0.8);
}
</style>
