<template>
  <div class="text-center">
    <div id="map" style="width: 80vw; height: 70vh"></div>
  </div>
</template>

<script>
import mapboxgl from "mapbox-gl";
export default {
  data() {
    return {
      map: null,
      geojson: {
        type: "geojson",
        data: {
          type: "FeatureCollection",
          features: [
            {
              type: "Feature",
              properties: {
                description:
                  `<table style="text-align:left"><tr>
<tr><td>Last Odometer</td><td> : 3782,</td></tr>
<tr><td>Last Hourmeter</td><td> : 1838,</td></tr>
<tr><td>Last Avg Speed</td><td> : 40.2,</td></tr>
<tr><td>Last Longitude</td><td> : 100.12846252984,</td></tr>
<tr><td>Last Latitude</td><td> : -5.273494238729,</td></tr>
<tr><td>Last Timestamp</td><td> : 2020-10-28 13:55:42</td></tr></table>`,
                icon: "car",
              },
              geometry: {
                type: "Point",
                coordinates: [110.3730836, -7.7721244],
              },
            },
          ],
        },
      },
    };
  },
  mounted() {
    mapboxgl.accessToken =
      "pk.eyJ1IjoicnVzbWludG8iLCJhIjoiY2tmMW4zZ2MzMTYxajMwcGhjMmZyMXE5biJ9.r5J0_CreHlEIB9RTN-bGdQ";

    //* init the map
    this.map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/streets-v11",
      center: [110.3730836, -7.7721244],
      zoom: 15,
    });

    //* Show Full Screen button
    this.map.addControl(new mapboxgl.FullscreenControl());

    //* Show Control button
    this.map.addControl(new mapboxgl.NavigationControl());

    /*
     * When map being rendered,
     * some marker (car, rocket, etc) that attached to it, will be rendered too
     */
    this.map.on("load", () => {
      this.afterRender(this.map);
    });
  },
  methods: {
    afterRender(map) {
      map.addSource("places", this.geojson);
      map.addLayer({
        id: "places",
        type: "symbol",
        source: "places",
        layout: {
          "icon-image": "{icon}-15",
          "icon-allow-overlap": true,
        },
      });
      map.on("click", "places", function (e) {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        /*
         *  Ensure that if the map is zoomed out such that multiple
         *  copies of the feature are visible, the popup appears
         *  over the copy being pointed to.
         */

        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        new mapboxgl.Popup()
          .setLngLat(coordinates)
          .setHTML(description)
          .addTo(map);
      });
      map.on("mouseenter", "places", function () {
        map.getCanvas().style.cursor = "pointer";
      });

      map.on("mouseleave", "places", function () {
        map.getCanvas().style.cursor = "";
      });

      this.movePoint();
    },

    movePoint() {
      setInterval(
        function () {
          let currentLat = this.geojson.data.features[0].geometry
            .coordinates[0];
          let currentLong = this.geojson.data.features[0].geometry
            .coordinates[1];
          let randomNumber = Math.random() * (0.001 + 0.001) - 0.001;
          this.geojson.data.features[0].geometry.coordinates[0] =
            currentLat + randomNumber;
          this.geojson.data.features[0].geometry.coordinates[1] =
            currentLong + randomNumber;
          this.map.getSource("places").setData(this.geojson.data.features[0]);

          // fly the map to the drone's current location
          this.map.flyTo({
            center: this.geojson.data.features[0].geometry.coordinates,
            speed: 0.5,
          });
          //* fly the map to the current location
          // this.map.flyTo({
          //   center: this.geojson.data.features[0].geometry.coordinates,
          //   speed: 0.5
          // });
        }.bind(this),
        3000
      );
    },
  },
};
</script>

<style></style>
