<template>
  <div class="text-center">
    <GmapMap
      :center="{ lat: 10, lng: 10 }"
      :zoom="7"
      style="width: 700px; height: 700px; margin: 32px auto"
    >
    </GmapMap>
  </div>
</template>

<script>
export default {
  data() {
    return {
      coordinates: {
        // set lat and long
        lat: 0,
        lng: 0,
      },
    };
  },
  created() {
    // get user's coordinates
    this.$getLocation({})
      .then((coordinates) => {
        this.coordinates = coordinates;
      })
      .catch((error) => alert(error));
  },
};
</script>
