<template>
  <div class="wrapper">
    <va-navibar></va-navibar>
    <va-slider :slideMenuItems="slideMenuItems"></va-slider>
    <div>
      <va-content-wrap>
        <router-view></router-view>
      </va-content-wrap>
    </div>
    <va-footer></va-footer>
    <Modal></Modal>
  </div>
</template>

<script>
import VANaviBar from "NaviBar.vue";
import VASlider from "Slider.vue";
import VAContentWrap from "ContentWrap.vue";
import Modal from "../Modal/Modal.vue";
import slideMenuItems from "../../lib/slideMenuItems.js";
import VAFooter from "../../components/VAFooter";
import store from "../../vuex/store.js";

export default {
  name: "home",
  data() {
    return {
      slideMenuItems: slideMenuItems,
    };
  },
  components: {
    "va-navibar": VANaviBar,
    "va-slider": VASlider,
    "va-content-wrap": VAContentWrap,
    Modal,
    "va-footer": VAFooter,
  },
  store,
};
</script>

<style>
.scroll {
  overflow-y: scroll;
}
</style>
