<template>
  <v-app>
        <router-view />
      <!-- <div class="wrapper" v-if="false">
        <va-navibar></va-navibar>
        <va-slider :slideMenuItems="slideMenuItems"></va-slider>
        <va-content-wrap></va-content-wrap>
        <Modal></Modal>
      </div> -->
  </v-app>
</template>

<script>
// import VANaviBar from "NaviBar.vue";
// import VASlider from "Slider.vue";
// import VAContentWrap from "ContentWrap.vue";
// import Modal from "./components/Modal.vue";
// import store from "./vuex/store.js";
// import slideMenuItems from "./lib/slideMenuItems.js";
// import loginPage from "./components/Login";

export default {
  name: "app",
  data() {
    return {
      // slideMenuItems: slideMenuItems,
    };
  },
  created() {},
  components: {
    // "va-navibar": VANaviBar,
    // "va-slider": VASlider,
    // "va-content-wrap": VAContentWrap,
    // Modal,
    // loginPage,
  },
};
</script>

<style>
</style>
