
<template>
  <!-- Content Wrapper. Contains page content -->
  <div id="content-wrap" class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="cwHeader">
        {{ selectedHeader["name"] }}
      </h1>
      <ol class="breadcrumb">
        <li>
          <a @click="dashboard()"><i class="fa fa-dashboard"></i></a>
        </li>
        <li class="active">{{ selectedHeader["name"] }}</li>
      </ol>
    </section>

    <section class="content">
      <transition name="page" mode="out-in">
        <router-view></router-view>
      </transition>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</template>

<script>
import MenuItems from "./lib/slideMenuItems.js";
export default {
  name: "va-content-wrap",
  data: () => ({
    Headers: MenuItems,
    selectedHeader: {},
  }),
  components: {},
  computed: {
    currentPath() {
      return this.$route.path;
    },
  },
  watch: {
    currentPath(val) {
      this.compareHeaderName(val);
    },
  },
  methods: {
    //* Ketika awal load page dan ketika ada perubahan path di URL maka
    //* path dari slideMenuItems akan dibandingkan dengan path yg sekarang
    compareHeaderName(currentPath) {
      for (let item of this.Headers) {
        if ("router" in item) {
          if (item.router.path === currentPath) {
            this.selectedHeader = item;
          } else if (item.router.path === "" && currentPath === "/") {
            this.selectedHeader = item;
          }
        }
      }
    },
    dashboard() {
      this.$router.push("/Hello");
    },
  },
  mounted() {
    this.compareHeaderName(this.currentPath);
  },
};
</script>

<style>
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s, transform 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

h1 .cwHeader {
  font-size: 36px;
}
</style>
