<template>
  <header class="main-header" style="z-index:100!important">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>KMW</b>I</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>AMM</b>DES</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-danger navbar-fixed">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img
                src="~admin-lte/dist/img/user2-160x160.jpg"
                class="user-image"
                alt="User Image"
              />
              <span class="hidden-xs">{{ currentUser.name }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img
                  src="~admin-lte/dist/img/user2-160x160.jpg"
                  class="img-circle"
                  alt="User Image"
                />

                <p>
                  {{ currentUser.name }} - {{ currentUser.position }}
                  <small>{{ currentUser.createdAt }}</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a @click="logout()" class="btn btn-default btn-flat"
                    >Sign out</a
                  >
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
import { mapGetters } from "vuex";
import Swal from "sweetalert2";

export default {
  name: "va-navibar",
  computed: {
    ...mapGetters([
      "unreadMessagesCount",
      "unreadNotificationsCount",
      "remainTasksCount",
      "currentUser",
    ]),
  },
  mounted() {},
  methods: {
    logout() {
      this.$store.dispatch("auth/logout");
      Swal.fire({
        position: "top",
        icon: "success",
        html: "<b>Logout Success!</b>",
        showConfirmButton: false,
        timer: 1500,
      });
    },
  },
};
</script>
