<template>
  <aside id="slider" class="main-sidebar" style="z-index:90!important">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img
            src="~admin-lte/dist/img/user2-160x160.jpg"
            class="img-circle"
            alt="User Image"
          />
        </div>
        <div
          class="pull-left info"
          style="background-color: rgba(0, 0, 0, 0) !important"
        >
          <p>{{currentUser.name}}</p>
          <a href="#"
            ><i
              class="fa fa-circle"
              :style="`color:${currentUser.state.color}`"
            ></i>
            {{ currentUser.state.name }}</a
          >
        </div>
      </div>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul data-widget="tree" class="sidebar-menu pa-0">
        <va-slide-item
          v-for="(item, index) in slideMenuItems"
          :data="item"
          :key="index"
          :type="item.type"
          :isHeader="item.isHeader"
          :icon="item.icon"
          :name="item.name"
          :badge="item.badge"
          :items="item.items"
          :router="item.router"
          :link="item.link"
        >
        </va-slide-item>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
import { mapGetters } from "vuex";
import VASlideItem from "./components/VASlideItem";

export default {
  name: "va-slider",
  data() {
    return {
      users: {
        userName: "",
      },
    };
  },
  methods: {},
  props: {
    slideMenuItems: {
      type: Array,
      default: [],
    },
  },
  created() {},
  computed: {
    ...mapGetters(["currentUser"]),
  },
  components: {
    "va-slide-item": VASlideItem,
  },
  mounted() {},
};
</script>

<style>
</style>
