<template>
  <v-container fluid class="pa-0">
    <v-row>
      <v-col cols="5" class="pa-0">
        <v-img src="static/img/assets/bg1.jpg" height="100vh" width="100%">
          <v-overlay :absolute="true" :value="true" :opacity="0.6">
            <div class="d-flex">
              <v-img src="static/img/assets/white_logo.png"></v-img>
            </div>
          </v-overlay>
        </v-img>
      </v-col>
      <v-col cols="7" class="d-flex justify-center align-center">
        <v-form ref="form" v-model="valid" lazy-validation style="width: 70%">
          <p class="h3 font-weight-bold">Sign in as Administrator</p>
          <v-text-field
            v-model="name"
            :rules="nameRules"
            label="Username"
            required
            @keyup.enter="login()"
          ></v-text-field>
          <v-text-field
            v-model="password"
            :rules="passwordRules"
            label="Password"
            :type="showPassword ? 'text' : 'password'"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showPassword = !showPassword"
            required
            @keyup.enter="login()"
          ></v-text-field>

          <v-btn
            class="mt-5"
            color="blue"
            dark
            width="200px"
            @click="login()"
            :loading="isLoading"
          >
            LOGIN
          </v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Swal from "sweetalert2";
export default {
  data: () => ({
    valid: true,
    name: "",
    nameRules: [(v) => !!v || "Name is required"],
    password: "",
    passwordRules: [
      (v) => !!v || "Password is required",
      (v) => (v && v.length >= 8) || "Password must be more than 8 characters",
    ],
    showPassword: false,
  }),
  methods: {
    login() {
      this.$store
        .dispatch("auth/login", {
          userName: this.name,
          userSecret: this.password,
        })
        .then((result) => {
          console.log(result);
          if (result.status) {
            this.$router.push("/Hello");
            Swal.fire({
              position: "center",
              icon: "success",
              html: "<b>Login Success!</b>",
              showConfirmButton: false,
              timer: 1500,
            });
          } else {
            Swal.fire({
              position: "top",
              icon: "error",
              html: "<b>Invalid Username / Password<b>",
              showConfirmButton: false,
              timer: 1500,
            });
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  computed: {
    isLoading() {
      return this.$store.state.auth.status === "loading" ? true : false;
    },
  },
};
</script>

<style scoped></style>
