<template>
  <div class="container">
    <VaDialog :dialog="dataDialog" />
    <v-simple-table
      fixed-header
      min-height="900px"
      style="width: 100%"
      class="tableHistory"
    >
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-center">Nomor Mesin</th>
            <th class="text-center">Nomor TNKB</th>
            <th class="text-center" style="width: 20%">Aksi</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="car in car" :key="car.carNoMesin">
            <td class="text-center">{{ car.carNoMesin }}</td>
            <td class="text-center">{{ car.carNoTNKB }}</td>
            <td class="text-center">
              <v-btn
                class="mx-2"
                fab
                dark
                x-small
                color="rgba(0,170,0,0.7)"
                @click="clickDialog(car)"
              >
                <v-icon dark> mdi-plus </v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
import axios from "axios";
import VaDialog from "./components/VADialog";

export default {
  components: {
    VaDialog,
  },
  data() {
    return {
      car: [
        {
          carNoMesin: "",
          carNoTNKB: "",
          dateStart: "",
          dateEnd: "",
        },
      ],
      dataDialog: {
        show: false,
        car: {
          carNoMesin: "",
          carNoTNKB: "",
          dateStart: "",
          dateEnd: "",
        },
      },
    };
  },
  methods: {
    clickDialog(car) {
      this.dataDialog.show = true;
      this.dataDialog.car = car;
    },
    getsCars() {
      axios
        .post(
          `${process.env.API_URL}/api/log/summary`,
          {
            carNoMesin: "ASJD2039SDL5938",
            carNoTNKB: "AB 1234cc",
          },
          { headers: { Authorization: `Bearer ${this.token}` } }
        )
        .then((response) => {
          this.car = response.data.data;
        })
        .catch((error) => {
          console.log(error.response.request._response);
        });
    },
  },
  computed: {
    token() {
      return this.$store.state.auth.token;
    },
  },
  mounted() {
    this.getsCars();
  },
};
</script>

<style lang="css">
.tableHistory {
  margin: auto;
}
</style>
